*.DS_Store
*.pyc
*.chk
**.chk
src/watershed/.DS_Store
src/__pycache__
src/watershed/__pycache__
src/tools/__pycache__
src/modeling/__pycache__
src/display/__pycache__
examples/results/*
test/
docs/gitignores/
docs/community/
docs/developers/
!test/results/readme.txt
!examples/results/readme.txt
users/
users/*