"""Calibration case package for __CASE_TITLE__."""

from hydromodpy.analysis.calibration.cases.__CASE_NAME__.case_implementation import (
    CASE_IMPLEMENTATION,
)

__all__ = (
    "CASE_IMPLEMENTATION",
)
