sphinx==7.2.6
pydata-sphinx-theme==0.15.4
autodoc-pydantic==2.2.0
myst-parser==3.0.1
nbsphinx==0.9.4
sphinx-gallery==0.17.1
sphinx-copybutton==0.5.2
sphinx-design==0.6.1
sphinx-tabs==3.4.5
sphinx-togglebutton==0.3.2
sphinx-multiversion==0.2.4

nbformat==5.10.4
nbconvert==7.16.4
jupyter-client==8.6.2

numpy==2.1.2
pandas==2.2.3
scipy==1.14.1
matplotlib==3.8.4
shapely==2.0.6
