sphinx==7.4.7
pydata-sphinx-theme==0.15.4
autodoc-pydantic==2.2.0
myst-parser==3.0.1
nbsphinx==0.9.4
sphinx-gallery==0.17.1
sphinx-copybutton==0.5.2
sphinx-design==0.6.1
sphinx-togglebutton==0.3.2
sphinx-polyversion>=1.0
sphinxcontrib-plantuml
sphinx-codeautolink
sphinxcontrib-bibtex
sphinx-autodoc-typehints<3
sphinx-issues<5
sphinxext-rediraffe
sphinx-favicon<1.1
sphinx-sitemap
sphinx-last-updated-by-git
sphinxext-opengraph
sphinx-lint
doc8

nbformat==5.10.4
nbconvert==7.17.1
jupyter-client==8.6.2

numpy>=2.4.4,<3
pandas>=2.3.3,<3
pandera>=0.31.1,<1
pyarrow>=23.0.1,<24
scipy>=1.17.1,<2
matplotlib>=3.10.8,<4
shapely>=2,<3
pint>=0.25.3,<1
pydantic-pint>=0.4,<1
tomlkit>=0.14.0,<1
tomli-w>=1.2.0,<2
universal_pathlib>=0.2,<1
filelock>=3.13,<4
platformdirs>=4,<5
tqdm>=4.67.3,<5
argcomplete>=3.5,<4
